body {
    background-color: rgb(31, 30, 30);
    font-family: 'Quicksand', cursive;
}

form {
    width: 30rem;
    margin: 3rem auto;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 6px;
}

label {
    margin-bottom: 0.5rem;
    display: block;
}

input,
 textarea {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(49, 48, 48);
    padding: 0.25rem;
    color: rgb(85, 19, 19);
}

input:focus,
textarea:focus {
    color: rgb(18, 2, 44);
}
.form-control-inline{
    display: flex;
}
.form-control-inline input{
    width: auto;
    margin-right:0.5rem;
}
button {
    display: block;
    font: inherit;
    background-color: rgb(18, 2, 44);
    color: white;
    border: 1px solid rgb(18, 2, 44);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(48, 20, 94);
    border-color: blueviolet;
}