html{
    margin:0;
    padding:0;
    max-height:100vh;
  }

body {
    font-family: 'Chivo Mono', monospace;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

#main-header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 46, 65);
    padding: 0 5%;
}

#logo {
    font-size: 1.3rem;
    font-family: 'Righteous', cursive;
    color: white;
}

.menu-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.menu-btn span {
    width: 100%;
    height: 3px;
    background-color: white;
}

#main-header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#main-header li {
    margin: 0 1rem;
    transition: transform .2s;
}

#main-header li:hover {
    transform: scale(1.1);
}

#main-header nav a {
    color: white;
    font-family: 'Chivo Mono', monospace;
    font-size: 1rem;
}

main h1 {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.2rem;
}

#side-drawer {
    width: 100%;
    height: 100%;
    background-color: rgb(47, 46, 65);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#side-drawer:target {
    display: block;
}

#side-drawer header {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
}

#side-drawer nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 4rem 1rem;
    flex-direction: column;
    align-items: center;
}

#side-drawer li {
    margin: 1rem 0;
}

#side-drawer a {
    color: white;
    font-size: 1.5rem;
}

#latest-career {
    width: 80%;
    margin: 4rem auto;
    
}

#latest-career ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.career-item {
    overflow: hidden;
}

.career-item img {
    height: 15rem;
    width: 100%;
    object-fit: contain;
}

.career-item p {
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
    font-family: 'Quicksand', cursive;
}

.career-item-content {
    padding: 1rem;
    text-align: center;
}

.btn {
    padding: 0.5rem 1.5rem;
}

footer{
    height: 5rem;
    text-align: center;
    background-color: rgb(47, 46, 65);

}

#copyrt{
    text-align: center;
    margin-top: 9rem;
    font-size: 0.8rem;
    font-weight: bold;
}
#bottom-nav p{
    padding-top: 2%;
    text-align: center;
    font-size: 0.8rem;
    color: white;
}
/* media queries */
@media(max-width: 48rem) {
    #main-header nav {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    main h1 {
        font-size: 1.3rem;
    }

    #latest-career ul {
        grid-template-columns: 100%;
    }

}